*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: gilroy;

}
html,body{
    height: 100%;
    width: 100%;
}
#page{
    height: 100%;
    width: 100%;
}
#nav{
    height: 45px;
    width: 100%;
    background-color: rgb(71, 70, 70);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-left: 240px;
    padding-right: 240px;
    color: #f5c6c6;

}
#nav li{
    text-decoration: none;
    list-style: none;
    font-weight: 300;
    font-size: 12px;
   

}
#nav li:hover{
    color: #fff;
}

#nav2{
    height: 45px;
    width: 100%;
    background-color: rgb(254, 253, 253);
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 240px;
    padding-right: 240px; 
    color: #000000;

}
#nav2 p{
   
    font-weight: 400;
    font-size: 14px;
   

}
#nav2 a{
    text-decoration: none;


}
#center{
    margin-top: 0;
    height: 85%;
    width: 100%;
   background-image: url(https://www.apple.com/v/home/az/images/heroes/iphone-14-pro/hero_iphone14pro_spring__9xo85pm6sbmm_largetall.jpg);
    background-position: center;
    background-size: cover;
  
}
#center h1{
    position: absolute;
    color: #fff;
    top: 19%;
    left: 50%;
    transform: translate(-50%,0);
    font-weight: 700;
    font-size: 45px;

   

}
#center h2{
    position: absolute;
    color: #fff;
    top: 28%;
    left: 50%;
    transform: translate(-50%,0);
    font-weight: 500;
    font-size: 26px;

   

}
#link{
    position: absolute;
   
    top: 34%;
    left: 50%;
    transform: translate(-50%,0);
    

}
#link a{
    text-decoration: none;
    font-size: 22px;
    margin-right: 20px;
    color: rgb(107, 123, 171);
}
#link a:hover{
    text-decoration: underline;
}


#page2{
    height: 85%;
    width: 100%;
    background-color: #fff;
    background-image: url(https://www.apple.com/v/home/az/images/heroes/iphone-14/hero_iphone14_yellow__eun20sn4imi6_largetall.jpg);
    background-position: center;
    background-size: cover ;
    position: relative;
}
#page2 h1{
    position: absolute;
    color: #000000;
    top: 10%;
    left: 50%;
    transform: translate(-50%,0);
    font-weight: 700;
    font-size: 50px;
}
#page2 h2{
    position: absolute;
    color:  #000000;
    top: 22%;
    left: 50%;
    transform: translate(-50%,0);
    font-weight: 500;
    font-size: 26px;

}
#link1{
    position: absolute;
   
    top: 30%;
    left: 50%;
    transform: translate(-50%,0);
    

}
#link1 a{
    text-decoration: none;
    font-size: 22px;
    font-weight: 500;
    margin-right: 20px;
    color: rgb(90, 110, 170);
}
#link1 a:hover{
    text-decoration: underline;
}
#page3{
height: 80%;
width: 100%;
background-color: #000000;
background-image: url(https://www.apple.com/v/home/az/images/heroes/apple-watch-series-8/hero_apple_watch_series_8_spring__b1y8wb7xjc9y_largetall.jpg);
background-position: center;
background-size: cover;
position: relative;
}

#page3 i{
    position: absolute;
   
    top: 10%;
    left: 43%;
    transform: translate(-50%,0);
    color: #fff;
    font-weight: 700;
    font-size: 45px;
}


#page3 h1{

    position: absolute;
   
    top: 10%;
    left: 51%;
    transform: translate(-50%,0);
    color: #fff;
    color: #fff;
    font-weight: 700;
    font-size: 45px;
}
#page3 h2{

    position: absolute;
   
    top: 20%;
    left: 50%;
    transform: translate(-50%,0);
    color: #bc3232e7;
   
    font-weight: 600;
    font-size: 20px;
    letter-spacing: 4px;
}
#page3 p{

    position: absolute;
   
    top: 25%;
    left: 50%;
    transform: translate(-50%,0);
    color: #ffffffe7;
   
    font-weight:500;
    font-size: 25px;
   
}
#link2{
    position: absolute;
   
    top: 33%;
    left: 50%;
    transform: translate(-50%,0);
    

}
#link2 a{
    text-decoration: none;
    font-size: 22px;
    font-weight: 500;
    margin-right: 20px;
    color: rgb(102 171 222);
}
#link2 a:hover{
    text-decoration: underline;
}
#page4{
    height: 92%;
    width: 100%;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-top:14PX ;
    padding-bottom: 7px;
  

}

#img1{
    height: 100%;
    width: 100%;
    background-image: url(https://www.apple.com/v/home/az/images/promos/iphone-tradein/iphone_tradein_promo__d5au3rkw5kuq_small.jpg);
    background-position: center;
    background-size: cover;
    margin: 7px;
    position: relative;
}
#img1 i{
    position: absolute;
   
    top: 10%;
    left: 36%;
    transform: translate(-50%,-50%);
    color: #000000;
    font-weight: 700;
    font-size: 40px;
}
#img1 h1{

    position: absolute;
   
    top: 10%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #000;
    
    font-weight: 700;
    font-size: 43px;
}
#img1 p{

    position: absolute;
   
    top: 16%;
    left: 52%;
    transform: translate(-50%,0);
    color: #000000e7;
   
    font-weight:500;
    font-size: 22px;
   
}
#link3{
    position: absolute;
   
    top: 22%;
    left: 50%;
    transform: translate(-50%,0);
    

}
#link3 a{
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    margin-right: 20px;
    color: rgb(75, 151, 210);
}
#link3 a:hover{
    text-decoration: underline;
}
#img2{
    height: 100%;
    width: 100%;
    background-image: url(https://www.apple.com/v/home/az/images/promos/wwdc23-announce/promo_wwdc23__b68ptht3mro2_medium.jpg);
    background-position: center;
    background-size: cover;
    margin: 7px;
    position: relative;
}
#img2 i{
    position: absolute;
   
    top: 60%;
    left: 36%;
    transform: translate(-50%,0);
    color:#fff8f8;
    font-weight: 700;
    font-size: 40px;
}
#img2 h1{
    position: absolute;
   
    top: 60%;
    left: 54%;
    transform: translate(-50%,0);
    color:#fff8f8;
    font-weight: 700;
    font-size: 40px;
}

#img2 h4{

    position: absolute;
   
    top: 70%;
    left: 46%;
    transform: translate(-50%,0);
    color: #ffffffe7;
   
    font-weight:400;
    font-size: 18px;
   
}


#img2 h5{

    position: absolute;
   
    top: 75%;
    left: 46%;
    transform: translate(-50%,0);
    color: #ffffffe7;
   
    font-weight:300;
    font-size: 18px;
   
}

#link4{
    position: absolute;
   
    top: 85%;
    left: 50%;
    transform: translate(-50%,0);
    

}
#link4 a{
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    margin-right: 20px;
    color: rgb(75, 151, 210);
}
#link4 a:hover{
    text-decoration: underline;
}

#page5{
    height: 92%;
    width: 100%;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-top:14PX ;
    padding-bottom: 7px;
  

}

#img3{
    height: 100%;
    width: 100%;
    background-image: url(	https://www.apple.com/v/home/az/images/promos/ipad/promo_ipad__fioegapg12qi_medium.jpg);
    background-position: center;
    background-size: cover;
    margin: 7px;
    position: relative;
}

#img3 h1{

    position: absolute;
   
    top: 10%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #000;
    
    font-weight: 700;
    font-size: 43px;
}
#img3 p{

    position: absolute;
   
    top: 16%;
    left: 52%;
    transform: translate(-50%,0);
    color: #000000e7;
   
    font-weight:500;
    font-size: 22px;
   
}
#link5{
    position: absolute;
   
    top: 22%;
    left: 50%;
    transform: translate(-50%,0);
    

}
#link5 a{
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    margin-right: 20px;
    color: rgb(75, 151, 210);
}
#link5 a:hover{
    text-decoration: underline;
}
#img4{
    height: 100%;
    width: 100%;
    background-image: url(https://www.apple.com/v/home/az/images/promos/macbook-pro-14-and-16/promo_mbp__ek7p477bkp6q_medium.jpg);
    background-position: center;
    background-size: cover;
    margin: 7px;
    position: relative;
}

#img4 h1{
    position: absolute;
   
    top: 10%;
    left: 52%;
    transform: translate(-50%,0);
    color:#fff8f8;
    font-weight: 700;
    font-size: 40px;
}

#img4 p{

    position: absolute;
   
    top: 20%;
    left: 50%;
    transform: translate(-50%,0);
    color: #ffffff;
   
    font: weight 4px;
    font-size: 18px;
   
}



#link6{
    position: absolute;
   
    top: 26%;
    left: 50%;
    transform: translate(-50%,0);
    

}
#link6 a{
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    margin-right: 20px;
    color: rgb(75, 151, 210);
}
#link6 a:hover{
    text-decoration: underline;
}
#page6{
    height: 92%;
    width: 100%;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-top:14PX ;
    padding-bottom: 7px;
  

}

#img5{
    height: 100%;
    width: 100%;
    background-image: url(https://www.apple.com/v/home/az/images/promos/mothers-day-2023/airpods/promo__sw58lbodkmqq_medium.jpg);
    background-position: center;
    background-size: cover;
    margin: 7px;
    position: relative;
}

#img5 h3{

    position: absolute;
   
    top: 10%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #000;
    
    font-weight: 500;
    font-size: 35px;
}

#img5 p{
    
    position: absolute;
   
    top: 20%;
    left: 50%;
    transform: translate(-50%,0);
    color: #000000e7;
   
    font-weight:500;
    font-size: 20px;
   
}
#link7{
    position: absolute;
   
    top: 32%;
    left: 50%;
    transform: translate(-50%,0);
    

}
#link7 a{
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    margin-right: 20px;
    color: rgb(75, 151, 210);
}
#link7 a:hover{
    text-decoration: underline;
}
#img6{
    height: 100%;
    width: 100%;
    background-image: url(https://www.apple.com/in/home/promos/apple-watch-ultra/images/promo_apple_watch_ultra__gnsqulvdc4a6_medium.jpg);
    background-position: center;
    background-size: cover;
    margin: 7px;
    position: relative;
}
#img6 i{
    position: absolute;
   
    top: 10%;
    left: 40%;
    transform: translate(-50%,-50%);
    color: #000000;
    font-weight: 700;
    font-size: 30px;
}
#img6 h1{

    position: absolute;
   
    top: 10%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #000;
    
    font-weight: 700;
    font-size: 30px;
}

#img6 h3{

    position: absolute;
   
    top: 16%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #e03434;
    
    font-weight: 700;
    font-size: 18px;
}
#img6 p{
    
    position: absolute;
   
    top: 20%;
    left: 50%;
    transform: translate(-50%,0);
    color: #000000e7;
   
    font-weight:500;
    font-size: 20px;
   
}
#link8{
    position: absolute;
   
    top: 27%;
    left: 50%;
    transform: translate(-50%,0);
    

}
#link8 a{
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    margin-right: 20px;
    color: rgb(75, 151, 210);
}
#link8 a:hover{
    text-decoration: underline;
}

#main{
    height: 100%;
    width: 100%;
    background-color: #fff;
    
}

.swiper {
    width: 100%;
    height: 100%;
    
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  .swiper-slide button{
    background-color: #fff;
    color: #000000;
    height: 30px;
    width: 79px;
    border: none;
    border-radius: 50px;
    position: absolute;
    top: 66%;
    left: 42%;
    font-size: 10px;
    font-weight: 500;

  }
  


  .swiper {
    margin-left: auto;
    margin-right: auto;
  }

  footer{
    height: 100%;
    width: 100%;
     padding: 2% 15%;
    background-color: #F1F1F1;
    
  }
  #para{
    padding-bottom: 20px;

  }
  #para p{
    font-size: 12px;
    font-weight: 400;
    color: #838387;
   
  }
  #list{

    padding-top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .list1{
    padding-top: 10px;
  }
  .list1 ul{
    list-style: none;
   
  }
  .list1  ul li{
    font-size: 13px;
    margin: 8px 0;
    color: #838387;
  }
  .list1  ul li:hover{
 text-decoration: underline;
  }
  #list .list1 h5{
    font-weight: 500;
    margin: 16px 0;
    font-size: 12px;
  }
  #foot{
    height: 25px;
    width: 100%;
    
    margin-top: 30px;

  }
  #foot p{
    font-size: 12px;
    font-weight: 400;
    color: #838387;
  }
  #foot a{
    font-size: 12px;
    font-weight: 400;

  }
  #footlast{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  #footlast #ff p{
    font-size: 12px;
    font-weight: 400;
    color: #838387;

  }
  #footlast #ff2 p{
    font-size: 12px;
    font-weight: 400;
    color: #838387;
  }
  #footlast #ff3 a{
    font-size: 12px;
    font-weight: 400;
   
  }